<h2>You played <%= @player_move.capitalize %></h2>
<h2>The computer played <%= @computer_move.capitalize %></h2>

<h3><%= @outcome %></h3>

<p><a href="/">Rules</a></p>

<ul>
  <li><a href="/rock">Play Rock</a></li>
  <li><a href="/paper">Play Paper</a></li>
  <li><a href="/scissors">Play Scissors</a></li>
</ul>
